.infoWrapper {
  height: 100%;
  width: 30%;
  margin-top: 40px;
  padding: 12px;
  border-radius: 4px;
  z-index: 10;
  max-height: 100vh;
  overflow: auto;
  background-color: #FFFFFF;
  margin-left: 10px;
  z-index: 2;
}

.topic {
  text-transform: capitalize;
}

.linkTitle {
  text-transform: capitalize;
  text-align: center;
}

.closeIcon {
  height: 20px;
  float: right;
  cursor: pointer;
}

hr {
  margin-top: 30px;
}