
.mapsArea {
  padding: 20px;
  background-color: white;
}

.mapWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.backNavLink {
  height: 50px;
  width: 100px;
  background-color: #282c34;
  color: #282c34;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.colorWhite {
  fill: white;
}