.titleAndinfo {
  display: flex;
}

.contentArea {
  display: flex;
}

.contentArea svg {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #E0E0E0;
  // height: auto;
}

.mapsArea {
  // padding: 20px;
  background-color: white;
}

.mapWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.colorWhite {
  fill: white;
}

.mapHeader {
  position: fixed;
  width: 100%;
  z-index: 5;

  .backNavLink {
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: #282c34;
    color: #282c34;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0 4px 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .mapTitle {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    margin: 0;
    height: 60px;
    box-sizing: border-box;
    padding-top: 10px;
    background-color: #D0D0D0;
  }
}



.topicOption {
  text-transform: capitalize;
}

.nodeText {
  text-transform: capitalize;
}

.helpButton {
  background-color: #1f77b4;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 40px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 10;
  position: fixed;
}

.helpMenuWrapper {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 310px;
  padding: 10px 10px 50px 0px;
  right: 20px;
  bottom: 20px;
  line-height: 1.4;
  position: fixed;
}

.helpMenuWrapper li {
  margin-bottom: 5px;
}

.helpIcon {
  height: 20px;
  width: 20px;
}

.closeHelpIcon {
  height: 15px;
  width: 15px;
}

.backIcon {
  position: absolute;
  height: 40px;
  margin: 10px 0 4px 5px;
  fill: #1f77b4;
  stroke: #1f77b4;
  cursor: pointer;
}