.titleAndinfo {
  display: flex;
}

.contentArea {
  display: flex;
}

.contentArea svg {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #E0E0E0;
  // height: auto;
}

.mapsArea {
  // padding: 20px;
  background-color: white;
}

.mapWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.backNavLink {
  position: absolute;
  height: 50px;
  width: 100px;
  background-color: #282c34;
  color: #282c34;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 4px 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.colorWhite {
  fill: white;
}

.mapTitle {
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
  margin: 0;
  height: 60px;
  box-sizing: border-box;
  padding-top: 10px;
  background-color: #D0D0D0;
}

.topicOption {
  text-transform: capitalize;
}

.nodeText {
  text-transform: capitalize;
}