.infoWrapper {
  height: 100%;
  width: 30%;
  margin-top: 4%;
  padding: 8px;
  border-radius: 4px;
  z-index: 10;
  max-height: 100vh;
  overflow: auto;
  background-color: #FFFFFF;
  margin-left: 10px;
}

.topic {
  text-transform: capitalize;
}

.linkTitle {
  text-transform: capitalize;
  text-align: center;
}