.infoWrapper {
  height: 100%;
  width: 30%;
  border: 1px solid black;
  margin-top: 7%;
  padding: 8px;
  border-radius: 4px;
  z-index: 10;
  max-height: 100vh;
  overflow: auto;
}

.topic {
  text-transform: capitalize;
}