
.dropdownWrapper {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

#topicsInput {
  margin-top: 10px;
  width: 130px;
}

.navLivk {
  height: 30px;
  width: 130px;
  background-color: #e7e7e7;
  color: #282c34;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
}
