$primary-blue: #0086b3;

body {
  background-color: #E0E0E0;
  color: #282c34;
}

.landingWrapper {
  /* text-align: center; */
  min-height: 100vh;
  display: flex;
  color: #282c34;
}

.aboutArea {
  width: 35%;
  background-color: #D0D0D0;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  box-sizing: border-box;
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}


.topicsArea {
  display: flex;
  flex-direction: column;
  background-color: #E0E0E0;
  width: 100%;
  text-transform: capitalize;
}

.topicsTitle {
  text-align: center;
  color: #1f77b4;
}

.topicsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 600px;
  padding: 30px;
  overflow: auto;
}


.navLink {
  color: #282c34;
  font-size: 14px;
  flex: 1;
  margin-bottom: 6px;
}

/* .mapsArea .navlink {
  background-color: #282c34;
  
} */

.mainText {
  text-align: left;
  line-height: 1.6;
}